body {
  background-color: #D6D6C2;
}

h1{
	font-size: 4em;
}

#brandLogo {
	height: 25px;
	width: 25px;
	margin-bottom: 5px;	
}

.col-md-6 {
	margin-right: auto;
	margin-left: auto;
}

#create {
	color: black;
	font-weight: bold;
	margin-left: 5px;
}

header {
	background-image: url('sound.png');
	color: white;
	height: 600px;
	margin-top: 0px;
	padding-top: 3em;
	background-repeat: none;
}

#results {
	padding: 10px;
}

.row {
	padding-right: 2em;
	padding-left: 1em;
}

#signIn {
	background-color: #00BE3F;
	font-weight: bold;
	border: none;
	margin-left: 1em; 
}

label {
	color: white;
}

#user {
	margin-right: 1em; 
}

#spotSearch {
	color: black;
	padding-top: 2em;
}

#help {
	color: red;
	font-style: italic;
	font-weight: bold;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: #2EB82E;
}

.navbar-default {
	background-color: black;
	margin-bottom: 0px;
	border: none;
}

#newUser {
	margin-top: 30px;
	margin-left: 80px;
}

#newName {
	margin-right: 15px;
}

#newAccount{
	text-align: center;
	margin-top: 30px;
}